body {
    background-color: #181818;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.paint-container {
    border: white;
    border-size: 4px;
    width:250px;
    height: auto;
    text-align: center;
}

.container.h3 {
    text-align: center;
}    
